/* Estilos personalizados */
/* CSS personalizado para centrar el logo en la esquina y hacerlo responsivo */
body {
    overflow-y: scroll;
    scrollbar-width: none; /* Para Firefox */
    }

    /* Oculta la barra de desplazamiento vertical en Chrome, Safari y Edge */
    body::-webkit-scrollbar {
    display: none;
    }

.navbar-brand {
    margin-right: auto; /* Centrar el logo en la esquina izquierda */
}

/* CSS personalizado para ajustar el tamaño del logo */
.navbar-brand img {
    width: 50px; /* Tamaño del logo */
    height: 50px;
}

@media (max-width: 991.98px) { /* Ajustar el tamaño del logo para dispositivos móviles */
    .navbar-brand img {
    max-width: 120px; /* Tamaño máximo del logo en dispositivos móviles */
    }
}

body {
    background-color: #c1e8ff; /* Fondo celeste */
    color: #021024; /* Texto azul oscuro */
}
.navbar {
    background-color: #052659; /* Azul oscuro para la barra de navegación */
}
.nav-link {
    color: #fff; /* Texto celeste para los enlaces de navegación */
}
.carousel-caption {
    background-color: rgba(5, 38, 89, 0.7); /* Fondo semi-transparente azul oscuro para las descripciones en el slider */
}
.card {
    background-color: #7da0ca; /* Fondo celeste para las tarjetas de destinos */
    border: none; /* Sin borde */
}
.card:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
    z-index: 1; /* Se eleva al hacer hover */
}
.carousel-item img {
    height: 500px; /* Aumenta la altura de las imágenes del slider */
}
.carousel-control-prev, .carousel-control-next {
    top: 50%; /* Posiciona los botones de control en el centro vertical */
    transform: translateY(-50%); /* Centra verticalmente los botones de control */
    z-index: 1; /* Asegura que estén encima del contenido del slider */
    color: #5483b3; /* Cambia el color de las flechas del slider */
}
.navbar.sticky-top {
    animation: fadeInDown 0.5s; /* Animación para mostrar la barra pegajosa */
}
@keyframes fadeInDown {
    0% {
    opacity: 0;
    transform: translateY(-100%);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
.bg-light {
    background-color: #c1e8ff; /* Fondo celeste para la sección adicional */
}
.bg-info {
    background-color: #052659 !important;
}
.text-info {
    color: #021024; /* Texto azul oscuro para el pie de página */
}

/* Estilos para el buscador */
.search-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search-form:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.search-form .form-control {
    border-radius: 20px;
}

.search-form .btn-primary {
    border-radius: 20px;
}