/* Estilos personalizados */
body {
  background-color: #e8f5ff;
  /* Fondo celeste */
  color: #004080;
  /* Texto azul oscuro */
}

.navbar {
  background-color: #052659;
  /* Azul oscuro para la barra de navegación */
}

.nav-link {
  color: #ffffff;
  /* Texto blanco para los enlaces de navegación */
}

.carousel-caption {
  background-color: rgba(0, 64, 128, 0.7);
  /* Fondo semi-transparente azul oscuro para las descripciones en el slider */
}

.carousel-item img {
  height: 400px;
  /* Aumenta la altura de las imágenes del slider */
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  /* Posiciona los botones de control en el centro vertical */
  transform: translateY(-50%);
  /* Centra verticalmente los botones de control */
  z-index: 1;
  /* Asegura que estén encima del contenido del slider */
  color: #5483b3;
  /* Cambia el color de las flechas del slider */
}

.navbar-brand {
  margin-right: auto;
  /* Centrar el logo en la esquina izquierda */
}

/* CSS personalizado para ajustar el tamaño del logo */
.navbar-brand img {
  width: 50px;
  /* Tamaño del logo */
  height: 50px;
}

@media (max-width: 991.98px) {
  /* Ajustar el tamaño del logo para dispositivos móviles */
  .navbar-brand img {
    max-width: 120px;
    /* Tamaño máximo del logo en dispositivos móviles */
  }
}

.navbar.sticky-top {
  animation: fadeInDown 0.5s;
  /* Animación para mostrar la barra pegajosa */
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.asientos-container {
  width: calc(52px * 5);
  height: calc(52px * 14);
  list-style: none;
  padding: 0;
}

.asiento-item {
  width: calc(100% / 5);
  height: calc(100% / 14);
}

.asiento-btn {
  width: 44px;
  height: 44px;
  font-size: 14px;
}

.timeline {
  border-left: 3px solid #052659;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  list-style: none;
  text-align: left;
  margin-left: 75px;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h2,
.timeline h3 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.timeline .event {
  padding-bottom: 5px;
  margin-bottom: 5px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  top: -3px;
  left: -153px;
  content: attr(data-date);
  text-align: right;
  font-weight: 500;
  font-size: 0.82em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #052659;
  box-shadow: 0 0 0 3px #052659;
  left: -21px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #052659;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.bg-info {
  background-color: #052659 !important;
}
