body {
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #f8f9fa;
    color: #021024;
}

body::-webkit-scrollbar {
    display: none;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-info {
    background-color: #052659 !important;
}

.text-info {
    color: #021024;
}

.viaje-card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    min-width: min-content !important;
}

.card {
    border-color: #ffffff;
    width: max-content !important;
}

.viaje-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hora-salida h5,
.hora-llegada h5 {
    font-size: 1.5em;
    color: #052659;
}

.origen-destino p {
    margin: 0;
    font-size: 1.2em;
    color: #021024;
}

.btn-price {
    background-color: #052659;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-price:hover {
    background-color: #021024;
}